.buttonBlock {
  text-align: right;
}

.statusBlock {
  text-align: center;
  margin-bottom: 15px;
}

.title {
  font-weight: 700;
  text-align: center;
  margin: 10px 0 25px;
}

.label {
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.airport {
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.time {
  color: orange;
  text-align: center;
}