
:root {
--side-border-color: rgba(232, 236, 241, 1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  flex-grow: 1;
}

.arrivalTime {
  margin: 0 20px;
  font-weight: 600;
}

.arrivalTime span {
  font-size: 0.8em;
}

.sourceBlock {
  border-left: 1px solid var(--side-border-color);
  margin: 10px;
}

.sourcePortName {
  font-weight: 600;
  margin: 0 10px 10px;
}

.providerBlock {
  font-size: 0.8em;
  margin: 10px 10px 0;
}

.status {
  margin: 0 10px;
  font-weight: 700;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  max-width: 100px;
  text-align: center;
}

.landed, .on-schedule {
  background-color: green;
  color: white;
}

.delayed {
  color: black;
  background-color: orange;
}

.terminal {
  border-left: 1px solid var(--side-border-color);
  margin: auto 10px;
  padding-left: 10px;
  white-space: nowrap;
}

.moreBlock {
  color: green;
  font-weight: 600;
  font-size: 0.9em;
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}

.moreBlock span {
  margin-right: 10px;
}

.moreBlock span:hover {
  text-decoration: underline;
}
